.back{
    background-color: rgba(83, 83, 83, 0.6);;
    z-index: 99;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  
}
.formContainer{
    height: 250px;
    width: 45%;
    opacity: 1 !important;
}
.inactive{
    display: none;
}
#inputHidden{
    width: 0;
    height: 0;
    color: none;
    background-color: none;
    border: none;
 
 
}
.swal{
    z-index: 100;
}