#Equip-row div{
    margin-top: 2px !important;
}
.GB-TB{
    border-bottom-left-radius: 0px;

}
.addBtn{
    display: flex;
    align-items: center;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 31px !important;
}